@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  background-image: url('/vecteezy_gray-steel_212879.svg');
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes ellipsis {
  0% {
    content: '';
  }
  33% {
    content: '.';
  }
  66% {
    content: '..';
  }
  100% {
    content: '...';
  }
}

.animate-ellipsis::after {
  content: '';
  animation: ellipsis 1.5s infinite;
}

